<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.GlogMapper">
    <resultMap id="baseGlob" type="Glob">
        <id column="id" property="globId"/>
        <result column="title" property="globTitle"/>
        <result column="des" property="globDes"/>
        <result column="content" property="globContent"/>
    </resultMap>

    <sql id="baseSql">
        id,title,des
    </sql>
    <select id="findAllGlob" resultMap="baseGlob">
        SELECT
        <include refid="baseSql"/>
        FROM b_blog
    </select>
</mapper>